/* purple color:rgb(76, 11, 136)
blue color: rgb( 88, 193, 235)*/

#navbarNav {
    background-color: rgb(88, 201, 235);
    border:rgb(76, 11, 136);
}

.jumbotron {
    background-image: url("./banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
  }

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: white;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
    color: white;
}


