/* brown color:rgb(136, 93, 28)
blue color: rgb( 34, 34, 110)*/

#navbarNav {
    background-image: url(./1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
}

.nav.navbar-nav.li a {
    color: white;
}

.jumbotron {
    background-image: url(./2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
  }

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}



.card {
    background-image: url(./1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      color: white;
      text-shadow: black 0.3em 0.3em 0.3em;
      text-align: center;
}



