
/*Background color for the page*/

 body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
} 

/* Styling for the NavBar */

#navbarNav {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
}

/*Styling for the text in the navigation bar*/
 a {
  color: white;
}

/*Styling for the main section in the landing page*/
.jumbotron {
    background-image: url(../images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
  }

/* Styling for the main header on the page*/

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}


/*Styling for the image card for the cocktail and food photo*/
.card {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      color: white;
      text-shadow: black 0.3em 0.3em 0.3em;
      text-align: center;
}

img {
    display: block;
    margin-left: 15%;
    margin-right: 10%;
    width: 100%;
    height: 50%;
  }

.image {
  width: 100%;
  height: 25%
}


