
#booze-results{
    height: 1000px;
    background-image: url("../images/marg.png"); 
    background-size: cover;
    background-position: 80% 80%;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    /* text-shadow: 2px 2px black; */
    /* margin-left: 370px; */
}

#brew-results{
    background-image: url("../images/brews.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    color: black;
    text-align: center;
    height: 1000px;
}

#rest-results{
    height: 1000px;
    background-image: url("../images/patio.png");
    color: black;
    background-position: 40% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    
}

#b-header {
    text-shadow: 1px 1px black;
}

#r-header{
    text-shadow: 1px 1px black;
}

#brew-head{
    text-shadow: 1px 1px black;
}


.container-fluid{
    margin-top: 10px;
}

#navbar{
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: cornsilk;
    
}

#jumbo{
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: cornsilk;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
    text-shadow: 2px 2px black;
}

.nav-link{
    color: cornsilk;
}



.background{
    background-image: url("../images/2.jpg");
}
/* rgb(136, 93, 28); */
/* purple color is rbg(76,11,136)
/* blue color is rgb(88,193,235)