

/* Styles the cocktail section */

#booze-results{
    height: 1000px;
    background-image: url("../images/marg.png"); 
    background-size: cover;
    background-position: 80% 80%;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

/* Stlyes the brewery section */

#brew-results{
    background-image: url("../images/brews.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    color: black;
    text-align: center;
    height: 1000px;
    border-radius: 10px;
    padding: 0;
}

/* Styling for the restaurant section */

#rest-results{
    height: 1000px;
    background-image: url("../images/restaurant.jpg");
    color: black;
    background-position: 40% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    
}

/* Cocktail header */

#b-header {
    text-shadow: 1px 1px black;
}

/* Resaurant header */

#r-header{
    background-image: url("../images/marg.png");
    text-shadow: 1px 1px black;
    margin-bottom: 3px;
    border-radius: 5px;
}

/* Styling for the Brewery header */

#brew-head{
    text-shadow: 1px 1px black;
    background-image: url("../images/marg.png");
    margin-bottom: 3px;
    border-radius: 5px;
}


.container-fluid{
    margin-top: 10px;
}

/* Styling for the top navbar */

#navbar{
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: cornsilk;
    
}

/* styling for the jumbotron */

#jumbo{
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: cornsilk;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
    text-shadow: 2px 2px black;
}

/* Changing the color of the nav text */

.nav-link{
    color: cornsilk;
}

/* background styling for the search list */

.list-style{
    background-color: rgba(230, 225, 225, .65);
    text-align: left;
    margin-top: 10px;
    font-size: large;
    border-radius: 3px;
    list-style-type: none;
}

/* Puts numbers in front of the cocktail ingredints list */

.cocktail-list{
    list-style:decimal;
}

.background{
    background-image: url("../images/2.jpg");
}

/* Gets rid of the dots in front */

ul{
    list-style-type:none;
}



h5 {
    margin-top: 30px;
}