
#booze-results{
    border: 1px solid black;

    height: 350px;
    background-image: url("marg.png");
    color: rgb(114, 80, 18);
    text-shadow: 2px 2px black;
    background-size: cover;
}

#rest-results{
    height: 350px;
    background-image: url("bar-patio.jpg");
    color: cornsilk;
    text-shadow: 2px 2px black;
    background-repeat: no-repeat;
    background-size: cover;
}


.container-fluid{
    margin-top: 10px;
}

#navbar{
    background-image: url("marg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#search-card{
    background-image: url("1.jpg");
    color: cornsilk;
}
/* rgb(136, 93, 28); */
/* purple color is rbg(76,11,136)
/* blue color is rgb(88,193,235)