
#booze-results{
    height: 1000px;
    background-image: url("../images/marg.png"); 
    background-size: cover;
    border-radius: 10px;
    font-size: 20px;
    /* text-shadow: 2px 2px black; */
    /* margin-left: 370px; */
}

#rest-results{
    height: 700px;
    background-image: url("../images/bar-patio.jpg");
    color: cornsilk;
    text-shadow: 2px 2px black;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /* margin-left: 5px;
    margin-bottom: 25px; */
}

#b-header {
    text-shadow: 2px 2px black;
}

.container-fluid{
    margin-top: 10px;
}

#navbar{
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: cornsilk;
    
}

#search-card{
    background-image: url("../images/1.jpg");
    color: cornsilk;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
    text-shadow: 2px 2px black;

}

.background{
    background-image: url("../images/2.jpg");
}
/* rgb(136, 93, 28); */
/* purple color is rbg(76,11,136)
/* blue color is rgb(88,193,235)