
#booze-results{
    height: 350px;
    background-image: url("../images/marg.png");
    text-shadow: 2px 2px black;
    background-size: cover;
    border-radius: 10px;
    margin-left: 370px;
}

#rest-results{
    height: 350px;
    background-image: url("../images/bar-patio.jpg");
    color: cornsilk;
    text-shadow: 2px 2px black;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    
}


.container-fluid{
    margin-top: 10px;
}

#navbar{
    background-image: url("../images/texture_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: cornsilk;
    
}

#search-card{
    background-image: url("../images/1.jpg");
    color: cornsilk;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
    text-shadow: 2px 2px black;

}

.background{
    background-image: url("../images/textture_2.jpg");
}
/* rgb(136, 93, 28); */
/* purple color is rbg(76,11,136)
/* blue color is rgb(88,193,235)